/**
 * @ desc 找回密码、修改密码
 * @ auth junji
 * @ version 2018/1/19 10:40
 */
p{margin:0}
.iflyui-hd {
    border-bottom:1px solid #ddd;
}
.ifly-findpassword{
    position:fixed;
    left:0;
    top:80px;
    bottom:25px;
    right:0;
    width:100%;
    overflow-y: scroll;
}
.ifly-findpassword{
    box-sizing: border-box;
    padding:40px 20px
}
.ifly-findpassword .ifly-main{
    margin:0 auto;
    width:900px;
}
.ifly-main-process{
    height:40px;
    line-height:40px;
    background:#f7f7f7;
    font-size:15px;
    color:#737373;
    text-align:center;
    width:100%;
    display:table
}
.ifly-main-process li{
    height:40px;
    line-height:40px;
    display:table-cell;
    border-right:1px solid rgba(0,0,0,.06);
    color:#888
}
.ifly-main-process li:first-child{
    border-radius:2px 0 0 2px;
}
.ifly-main-process li:last-child{
    border-right:0;
    border-radius:0 2px 2px 0;
}
.ifly-main-process li.ifly-active{
    font-weight:bold;
    color:#fff;
    background-color:#27c5f2;
}
.ifly-main-process li.ifly-active b,
.ifly-main-process li.ifly-col1 b{
    background-color:#fff;
    color:#62bcd9
}

.ifly-main-process li b{
    margin-right:5px;
    padding:0;
    width:20px;
    height:20px;
    line-height:20px;
    font-size:13px;
    background:#bbb;
    border-radius:100%;
    color:#fff;
    display:inline-block;
    font-weight:normal;
    vertical-align:0
}
.ifly-main-form{
    padding:25px 0 0
}
.ifly-main-form dl{
    padding:0 0 15px;
}
.ifly-main-form dl:last-child{
    padding-bottom:0
}
.ifly-main-form dt{
    padding:8px 0;
    box-sizing:border-box;
    float:left;
    width:8%;
    text-align:right;
    font-size:14px
}
.ifly-main-form dd{
    margin-left:9.5%
}
.ifly-findpassword a{
    color:#0095c5
}
.ifly-main-form .ifly-gray{
    padding-left:6px;
    color:#999;
    font-family:"verdana"
}
.ifly-main-form .ifly-input{
    padding:0 10px;
    border:1px solid #d9d9d9;
    width:340px;
    height:40px;
    box-sizing:border-box;
    transition:all 0.2s linear 0s;
    border-radius: 2px;
    font-family:"verdana"
}
.ifly-button-block{
    width:340px
}
.ifly-main-form .ifly-verification{
    width:170px;
}
.ifly-main-form .ifly-input:focus{
    border-color:#07f;
    box-shadow:0 0 5px #8cddff
}
.ifly-main-form .error{
    border-color:#ff9f41;
    box-shadow:0 0 5px #ffbf81
}
.ifly-main-form .ifly-submit,
.ifly-findpassword .ifly-button{
    cursor:pointer;
    padding:0 10px;
    border:1px solid #27c5f2;
    background:#27c5f2;
    color:#fff;
    height:40px;
    line-height:40px;
    text-align:center;
    box-sizing:border-box;
    transition:all 0.2s linear 0s;
    vertical-align: top;
    border-radius:2px;
    display:inline-block
}
.ifly-findpassword .ifly-button[disabled]{
    background:#999;
    border-color:#999;
    opacity:.8;
}
.ifly-findpassword .ifly-button[disabled]:hover{
    opacity:.8;
}
.ifly-input-normal{
    border:1px solid #ddd;
    background:#fff;
    border-radius:2px;
    cursor:pointer;
    padding:0 10px;
    height:40px;
    line-height:40px;
    text-align:center;
}
.ifly-main-form .ifly-submit:hover,
.ifly-button:hover{
    color:#fff;
    opacity: .8;
}
.ifly-main-form .ifly-submit[disabled],
.ifly-main-form .ifly-submit[disabled]:hover{
    background-color:#ccc;
    border-color:#ccc;
    opacity:.8;
}
.ifly-main-form .ifly-error{
    padding-top:10px;
    color:#f90;
}
.ifly-main-form .ifly-img-verification{
    vertical-align: -8px;
    margin:0 6px;
    padding:0 10px;
    background:#fff;
    height:40px;
    box-sizing:border-box;
    display:inline-block;
    border-radius: 2px;
}
.ifly-main-form .ifly-submit:hover{
    opacity: .8;
}
.ifly-main-form-secruity dd,
.ifly-main-form-nofindmobile dd{
    margin:0
}
.ifly-main-form-secruity .ifly-mobile{
    font-size:14px
}
.ifly-button{
    font-size:14px;
}
.ifly-artificia{
    margin-top:4em;
    padding:10px 0;
    border-top:1px solid #eee;
}
.ifly-spot{
    color:#f60
}
.ifly-main-form-success .ifly-button{
    margin:0
}
.ifly-main-form-nofindmobile{
    margin:20px 0;
    padding:15px 15px 15px 130px;
    border:1px solid #ddd;
    border-radius:2px;
    background:#f2f2f2 url(../img/password/ifly-nofind.png) no-repeat 15px 50%;
}
.ifly-main-form-nofindmobile .ifly-nof-tips,
.ifly-main-form-emailver .ifly-nof-tips{
    margin-bottom:15px;
    font-size:15px;
    color:#222
}
.ifly-main-form-nofindmobile .ifly-nof-email a{
    margin:10px 0
}
.ifly-main-form-emailver{
    margin:20px 0;
    padding:15px 15px 15px 20px;
    border:1px solid #ddd;
    border-radius:2px;
    background:#f2f2f2 url(../img/password/ifly-emailver.png) no-repeat 25px 50%;
}
.ifly-main-form-success{
    font-size:14px;
    margin:20px 0;
    padding:15px 15px 15px 100px;
    border-radius:2px;
    border:1px solid #ddd;
    background:#f2f2f2 url(../img/password/ifly-success.png) no-repeat 30px 50%;
}
.ifly-main-form-success dd{
    padding:5px 0
}

.ifly-main-form-artificial{
    font-size:14px;
    margin:20px 0;
    padding:15px 15px 15px 100px;
    border-radius:2px;
    border:1px solid #ddd;
    background:#f2f2f2 url(../img/password/ifly-tel.png) no-repeat 30px 50%;
}
.ifly-main-form-artificial dd{
    padding:5px 0
}
.ifly-main-form-retpassword{

}
.ifly-ver-rule{
    margin:10px 0;
    padding:15px 20px;
    line-height:1.8;
    border-radius:2px;
    border:1px solid #ddd;
    background:#f6f6f6;
    color:#444
}
.ifly-ver-rule h2{
    margin:0;
    color:#333;
    font-size:15px;
}
.ifly-ver-rule p{
    margin-left:2.8em
}
.ifly-ver-rule li{
    padding:5px 0
}
.ifly-ver-rule li i{
    margin-right:5px;
    width:20px;
    height:20px;
    line-height:20px;
    border-radius:100%;
    font-style:normal;
    display:inline-block;
    background:#27c5f2 ;
    color:#fff;
    text-align:center;
}
.iflyui-ft{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    padding-top:0;
    border:0;
}

/*加载*/
.ifly-tips-box{
    text-align:center;
    display:inline-block;
    *display:inline;
    zoom:1;
    color:#fff;
    border-radius:3px;
    margin:0 auto;
    padding:18px;
    min-width:75px;
    max-width:200px;
    background:#4a4a4a;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin:-50px\9;
    font-size:12px;
    animation:ifly-bounceIn .2s linear;
    opacity:1;
    z-index:99999999;
}
.ifly-tips-box-shadow{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.25);
    z-index:66666
}
@keyframes ifly-bounceIn{
    0% {
        opacity: 0;
        margin-top:10px
    }
    100% {
        opacity: 1;
    }
}
.ifly-tips-box .ifly-icon-loading{
    width:32px;
    height:32px;
    margin:0 auto 10px;
    background:url(../img/password/iflyui-icon-loading.png) no-repeat;
    animation:ifly-rotate 1.2s infinite linear;
}
@keyframes ifly-rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.ifly-tips-box .ifly-icon-success{
    background:url(../img/password/iflyui-icon-success.png) no-repeat;
    width:32px;
    height:32px;
    margin:0 auto 10px;
}

.ifly-tips-box .ifly-icon-warning{
    background:url(../img/password/iflyui-icon-warning.png) no-repeat;
    width:32px;
    height:32px;
    margin:0 auto 10px;
}
.ifly-editPassword-tips{
    margin:0 0 15px;
    padding:10px;
    font-weight:bold;
    color:#f60;
    font-size:14px
}
.ifly-main-form-editPassword{
    padding:0
}